transformers==4.40.0
torch==2.2.2
tensorflow==2.16.1
accelerate==0.29.3
tqdm
pymongo
peft==0.10.0
bitsandbytes==0.43.1
trl==0.8.6
datasets==2.19.0
tensorboardX==2.6.2.2
tensorboard==2.16.2
xformers<0.0.26
python-dotenv
matplotlib