body {
     display: flex;
     flex-direction: column;
     align-items: center;
}

#control {
    display: flex;
    flex-direction: row;
}

#meta {

    width: 13vw;
}

#mainContainer {
    display: flex;
    flex-direction: row;
    width: 65vw;
}

#displayLines {
    width: 5%;
    border: 0.01vw solid;
}

#displayContent {
    width: 95%;
    border: 0.01vw solid;
}
