/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.latexPlayButton {
  font-size: x-large;
  padding-left: 0.7vw;
}

.latexDataLabel {
  font-weight: bold;
  align-self: center;
}

.noSelection {
    color: #DE8014
}

#displayLines {
    width: 5%;
    border-right: 0.01rem solid;
}

#displayContent {
    width: 95%;
}

#latexTextArea {
    display: flex;
    flex-direction: row;
    height: 90%;
    background: white;
    flex-shrink: 1;
    overflow:auto;
}