transformers
torch
tensorflow
accelerate
tqdm
pymongo
peft
bitsandbytes -i https://pypi.org/simple/
trl
datasets
tensorboardX
tensorboard
git+https://github.com/unslothai/unsloth.git#egg=unsloth[colab-new]
xformers<0.0.26
